body{
  border:4px  solid grey;
  width:500px;
  margin:1em;
}
h1{
  text-align:center;
}
.outer1{
  text-align:center;
}
img{
  width:400px;
  height:300px;
  align-items: center;
}
.inner{
  border:2px solid black;
  background-color: #366dc4;
  width:450px;
  margin:22px;
}
